body {
	width: 90%;
	margin: 0 auto;
	text-align: center;
	font-family: sans-serif;
}

.toad {
	color: white;
	height: 10em;
	width: 10em;
	display: block;
	margin: auto;
}

.citySkyline {
	height: 10em;
	width: 69.75em;

}

#content {overflow: auto;
color: #EE9A00;
}

#nav, #feature, #footer {
	margin: 1%;
}

.column1, .column2, .column3 {
		width: 31.3%;
		float: left;
		margin: 1%;
}

.column3 {
	margin-right: 0%;
}

li {
	display: inline;
	padding: 0.5em;
}

#nav, #footer {
	background-color: #efefef;
	padding: 0.5em 0;
}
a:link {
    text-decoration: none;
    color: #008B45;
}

a:hover {
    color: black;
}

a:visited {
    color: #EE9A00;
}

#feature, .article {
	height: 10em;
	margin-bottom: 1em;
	background-color: #efefef;
}




























/*html {
background-color: black;
}
h1 {
font-family: sans-serif;
font-weight: bold;
text-align: center;
padding-top: 25px;
padding-bottom: 25px;
color: white;
}

body {
font-family: sans-serif;
text-align: justify;
color: white;
}


div {
font-size: 85%;
width: 250px;
height: 300px;
margin: 10px auto 10px auto;
padding: 20px;
border: 1px solid blue
}*/
